In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_columns', 500)
import itertools
from pprint import pprint
#сунул функции в библиотеку
import trend_helpers

In [2]:
IDcount = 0

file = 'marked_check_normal_trends_crossed2.csv'
df = pd.read_csv(file, header=None)
df = df.rename(index=str, columns={0: 'trend_type', 
                                   1: 'trend_params', 
                                   2: 'ratings'})
df['ID']=df.index
df['ID']=df['ID'].apply(lambda x: int(x) + 100000)
print(len(df))
df.head()

116

,trend_type,trend_params,ratings,ID
0,1,"[[156049, 164867, 17.279498240432385, array([-...","[3, 2, 63041, 63180, 63041, 63180, 62935, 63180]",100000
1,2,"[[175005, 184926, 25.315626489229555, array([5...","[3, 3, 63159, 62970, 63159, 62970, 63255, 62970]",100001
2,1,"[[184229, 189013, 23.58949057754647, array([-3...","[4, 3, 62966, 63120, 62966, 63120, 62966, 63120]",100002
3,1,"[[202796, 205102, 31.395030163719422, array([-...","[2, 2]",100003
4,1,"[[202796, 205344, 41.68901015180105, array([-3...","[4, 3, 62769, 62819, 62769, 62819, 62755, 62819]",100004

In [3]:
#extract 2 first values of 'ratings'
df['ratings'] = df['ratings'].apply(lambda x: eval(x)[0:2])

In [4]:
df.head()

,trend_type,trend_params,ratings,ID
0,1,"[[156049, 164867, 17.279498240432385, array([-...","[3, 2]",100000
1,2,"[[175005, 184926, 25.315626489229555, array([5...","[3, 3]",100001
2,1,"[[184229, 189013, 23.58949057754647, array([-3...","[4, 3]",100002
3,1,"[[202796, 205102, 31.395030163719422, array([-...","[2, 2]",100003
4,1,"[[202796, 205344, 41.68901015180105, array([-3...","[4, 3]",100004

In [5]:
df_parsed = trend_helpers.pretify_dataframe(df)

In [6]:
df_parsed.head()

,trend_type,ratings,ID,trend_start,trend_end,importance,k,b,dispersion,absolute_trend_lenght,r_squared_of_trend,tops_coordinates,tops_height,tops_width,tops_HW_ratio,tops_count,peaks_coordinates,peaks_height,peaks_width,peaks_HW_ratio,peaks_count
0,1,"[3, 2]",100000,156049,164867,17.279498,-0.000023,66.794773,2551.000000,8816.000002,2.510438e-06,"[(155012, 63.185), (156674, 63.185), (157228, ...","[0.06461462081585267, 0.06461462081585267, 0.0...","[1037, 1037, 245, 7306, 228, 228]","[6.230918111461203e-05, 6.230918111461203e-05,...",6,"[(156049, 63.26375), (157086, 63.24125), (1573...","[0.07874999999999943, 0.04509476534295942, 0.0...","[1662, 554, 5734, 1808, 323]","[4.7382671480144065e-05, 8.139849339884372e-05...",5
1,2,"[3, 3]",100001,175005,184926,25.315626,0.000006,62.041194,2350.880000,9919.000000,8.054267e-07,"[(173242, 63.165), (175776, 63.165), (182451, ...","[0.09562696696405482, 0.09562696696405482, 0.1...","[1763, 1763, 7861, 77, 35, 183, 183]","[5.424104762566921e-05, 5.424104762566921e-05,...",7,"[(175005, 63.065), (176768, 63.075), (184629, ...","[0.10000000000000142, 0.10337528089887371, 0.0...","[2534, 6675, 2210, 68, 86, 292]","[3.946329913180798e-05, 1.548693346799606e-05,...",6
2,1,"[4, 3]",100002,184229,189013,23.589491,-0.000034,69.460283,1013.375000,4781.000003,1.005475e-06,"[(183643, 63.12125), (184629, 63.12125), (1868...","[0.044558243070433434, 0.044558243070433434, 0...","[586, 586, 3222, 245, 728, 728]","[7.603795745807753e-05, 7.603795745807753e-05,...",6,"[(184229, 63.18), (184815, 63.15875), (188037,...","[0.058749999999996305, 0.050081618962423136, 0...","[986, 2236, 1221, 798, 854]","[5.958417849898205e-05, 2.239786178999246e-05,...",5
3,1,"[2, 2]",100003,202796,205102,31.395030,-0.000032,69.279895,437.840000,2291.000001,1.454511e-06,"[(202153, 62.8125), (203189, 62.8125), (203484...","[0.040379751582626966, 0.040379751582626966, 0...","[643, 643, 108, 32, 1368, 140, 140]","[6.279899157484753e-05, 6.279899157484753e-05,...",7,"[(202796, 62.865), (203439, 62.845), (203547, ...","[0.05250000000000199, 0.014491525423729001, 0....","[1036, 295, 73, 1211, 216, 243]","[5.06756756756776e-05, 4.912381499569153e-05, ...",6
4,1,"[4, 3]",100004,202796,205344,41.689010,-0.000030,69.003106,427.666667,2547.000001,1.729611e-06,"[(202153, 62.8125), (203189, 62.8125), (203484...","[0.04049133576674535, 0.04049133576674535, 0.0...","[643, 643, 108, 1489, 83, 132, 92, 92]","[6.297252840862418e-05, 6.297252840862418e-05,...",8,"[(202796, 62.865), (203439, 62.845), (203547, ...","[0.05250000000000199, 0.014491525423729001, 0....","[1036, 295, 1284, 344, 90, 86, 147]","[5.06756756756776e-05, 4.912381499569153e-05, ...",7

In [7]:
df_trend_splited = trend_helpers.extremum_spliter(df_parsed)

In [8]:
df_trend_splited.head()

,trend_start,trend_end,importance,k,b,dispersion,absolute_trend_lenght,r_squared_of_trend,tops_count,peaks_count,ID,coordinates_X,coordinates_Y,height,width,HW_ratio,extremum_type,ratings
0,156049,164867,17.279498,-0.000023,66.794773,2551.0,8816.000002,0.000003,6,5,100000,155012,63.18500,0.064615,1037,0.000062,1,"[3, 2]"
1,156049,164867,17.279498,-0.000023,66.794773,2551.0,8816.000002,0.000003,6,5,100000,156674,63.18500,0.064615,1037,0.000062,1,"[3, 2]"
2,156049,164867,17.279498,-0.000023,66.794773,2551.0,8816.000002,0.000003,6,5,100000,157228,63.20000,0.037079,245,0.000151,1,"[3, 2]"
3,156049,164867,17.279498,-0.000023,66.794773,2551.0,8816.000002,0.000003,6,5,100000,162962,62.93500,0.172332,7306,0.000024,1,"[3, 2]"
4,156049,164867,17.279498,-0.000023,66.794773,2551.0,8816.000002,0.000003,6,5,100000,164770,63.04125,0.025171,228,0.000110,1,"[3, 2]"